.center {
 text-align: center; 
}

.top-margin { 
  margin-top: 5px;
}

.small-text { 
  font-size: 12px; 
}

.big-width { 
<<<<<<< HEAD
  width: 40%; 
  margin: auto; 
}

@media only screen and (max-width: 480px) {
  .big-width { 
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .big-width { 
    width: 90%;
  }
=======
  width: 94%; 
  margin-left: 3%; 
>>>>>>> bfb16e2d7cb189037c60d4cf36c9551bef1e755d
}

#home-content {
  margin-top: 70px;
}

h1.logo { 
  font-size: 64px; 
  margin: 65px 0 30px; 
  color: maroon;
}

h2.logo { 
  margin-top: 5px; 
  color: maroon;  
}

h2.logo a {
  text-decoration: none;
  color: maroon;  
}

.teal { 
  color: teal; 
}

.full-width { 
  width: 100%; 
}

.search-header { 
  border-bottom: 1px solid #ddd; 
  padding-bottom: 15px; 
  margin-top: 10px; 
}

div.result-item { 
  margin-top: 25px; 
}

div.result-item a#repo-name { 
  font-size: 24px; 
}

div.result-item span#repo-link { 
  font-size: 13px; 
  color: green; 
}